<script type="text/javascript" src="//xrayatlas.simplybook.me/common/js/widget_loader.js"></script>
<script type="text/javascript">
DoReserve_Widget.server = "xrayatlas.simplybook.me";
DoReserve_Widget.domain = "simplybook.me";
DoReserve_Widget.mobileRedirect = 0;
DoReserve_Widget.layout = "webfactory";
DoReserve_Widget.color_scheme = "webfactory_blue_gray";
DoReserve_Widget.timeline = "modern_week";
DoReserve_Widget.mode = "auto";
DoReserve_Widget.simplybook_iframe_src = "//xrayatlas.simplybook.me/sheduler/manage/?frameId=1&preview=1&type=widgetv2&width=960&url=xrayatlas.simplybook.me&theme=webfactory_blue_gray&layout=webfactory&timeline=modern_week&mobile_redirect=0&mode=auto&hidden_steps=unit";
DoReserve_Widget.predefinedSteps = {};
DoReserve_Widget.hiddenSteps = "unit";
DoReserve_Widget.offset = "30%";
DoReserve_Widget.title = "Book now";
DoReserve_Widget.position = "right";
DoReserve_Widget.color = "#ffffff";
DoReserve_Widget.background = "#2d3d4d";
DoReserve_Widget.addSimplybookButton();
</script>